.menu-item {
  background-color: #2e2e2e;
  border: 2px solid #ffd700;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.menu-item:hover {
    transform: scale(1.02);
}

.menu-item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-item-content {
  padding: 1rem;
}

.menu-item-name {
  color: #ffd700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.menu-item-description {
  color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.menu-item-price {
  color: #ffd700;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
}
